form {
    display: flex;
    justify-content: center;

}
fieldset {
    font-size: 3em;
    text-align: center;
    border: .1em solid #F76C6C;
    color: #F76C6C;
    background-color: #374785;
}
 

 /* styles the first div that holds the date of entry */

.journalDate {
    border-bottom: .1em solid #F76C6C;
    margin-bottom: .5em;
    padding-bottom: .5em;
    display: flex;
    flex-direction: column;
}

#journalDate {
    font-size: .5em;
}


/* this styles the concepts learned div inside of the form */

.concepts {
    border-bottom: .1em solid #F76C6C;
    margin-bottom: .5em;
    padding-bottom: .5em;
    display: flex;
    flex-direction: column;
}

/* this styles the journal entry div class inside of the form */
.entry {
    border-bottom: .1em solid #F76C6C;
    margin-bottom: .5em;
    padding-bottom: .5em; 
    display: flex;
    flex-direction: column;  
}

/* this styles the div wrapping around the select */
.select {
    margin-bottom: .5em;
    display: flex;
    flex-direction: column;
}

#mood, #journalEntry, #concepts {
    font-size: .5em;
}